{% extends 'base.html' %}

{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="3GqgnOG0"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>
<script>
    allEvents = {{ events|tojson }}
    events = allEvents;
    let leagues = {{ leagues|tojson }}
    let standings = {{ standings|tojson }}

    $(document).ready(function () {
        buildCalendar();

        // Standings
        $.each(leagues, function (i, league) {
            $('div#standings')
                .append(
                    $('<div></div>')
                        .addClass('col-md')
                        .append(
                            $('<h5></h5>')
                                .addClass('light-text')
                                .css('text-align', 'center')
                                .css('padding-top', '10px')
                                .append('<span style="background-color: ' + league.color + '; border-radius: 5px;">&nbsp;' + league.name + '&nbsp;</span>')
                        )    
                        .append(
                            $('<table></table>')
                                .attr('league', league.name)
                                .addClass('display')
                                .css('width', '90%')
                        )
                );

            $('table[league="' + league.name + '"]').DataTable({
                data: standings[league.name],
                columns: [
                    {
                        data: 'name',
                        title: 'Name'
                    }, {
                        data: 'W',
                        title: 'W'
                    }, {
                        data: 'L',
                        title: 'L'
                    }, {
                        data: 'T',
                        title: 'T'
                    }, {
                        data: 'winPct',
                        title: 'W%'
                    }
                ],
                columnDefs: [
                    {
                        targets: [1, 2, 3, 4],
                        className: 'dt-center'
                    }
                ],
                paging: false,
                ordering: false,
                info: false,
                searching: false
            });
        });
    });
</script>
<div class="row justify-content-center">
    <div class="col-md-auto">
        <img src="{{ url_for('static', filename='img/FWMSBL1.jpeg') }}" width="100%" style="max-width: 1000px;">
    </div>
</div>
<div class="row">
    <div class="col-md" style="max-width: 400px;">
        <h3 class="light-text" style="padding-bottom: 20px">Announcements</h3>
        <div class="row">
            <div id="announcements" class="col-md-auto">
                <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100057252866855" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/profile.php?id=100057252866855" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/profile.php?id=100057252866855">Fort Worth Mens Senior Baseball League</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <h3 class="light-text">This Week's Games</h3>
        {% for league in leagues %}
            <span class="light-text" style="background-color: {{ league.color }}; border-radius: 5px; font-size: 1.25rem;">&nbsp;{{ league.name }}&nbsp;</span>&nbsp;
        {% endfor %}
        <div id="calendar" style="padding-top: 10px"></div>
    </div>
</div>
<h3 class="light-text" style="padding-bottom: 10px">Standings</h3>
<div id="standings" class="row">
</div>
<div class="row">
    <div class="col-md" style="max-width: 500px;">
        <div class="row">
            <div class="col">
                <h3 class="light-text" style="padding-bottom: 20px">Player Waiver</h3>
                <button type="submit" class="btn light-text mx-2" style="background-color: var(--red-color);" onclick="window.open('waiver', '_blank')">Fill Out Form</button>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h3 class="light-text" style="padding-bottom: 20px">Free Agent Player Sign Up</h3>
                <form id="free-agent" class="needs-validation light-text px-2"  action="/freeAgent" method="POST" onsubmit="return formOnSubmit();">
                    <div class="row">
                        <div class="col">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" id="age" name="age" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="XXX-XXX-XXXX" required>
                            <div class="invalid-feedback">
                                Please enter a valid phone number.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="address" name="address">
                            <button class="btn btn-primary btn-md mt-2" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md">
        <h3 class="light-text" style="padding-bottom: 15px">Contact Us</h3>
        <form id="contact-us" class="needs-validation light-text px-2" action="/contact" method="POST" onsubmit="return formOnSubmit();">
            <div class="row">
                <div class="col">
                    <label for="regarding" class="form-label">Regarding</label>
                    <select class="form-select" id="regarding" name="regarding" required>
                        <option value=""></option>
                        <option value="org">Our Organization</option>
                        <option value="site">Website</option>
                        <option value="other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select what your inquiry is regarding.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="name" class="form-label">Your Name (Optional)</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="phone" class="form-label">Phone (Optional)</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="XXX-XXX-XXXX">
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email" class="form-label">Email (Optional)</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="6" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="address" name="address">
                    <button class="btn btn-primary btn-md mt-2" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}