{% extends 'base.html' %}

{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="3GqgnOG0"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>
<script>
    allEvents = {{ events|tojson }}
    events = allEvents;
    let leagues = {{ leagues|tojson }}
    let standings = {{ standings|tojson }}

    $(document).ready(function () {
        buildCalendar();

        // Standings
        $.each(leagues, function (i, league) {
            $('div#standings')
                .append(
                    $('<div></div>')
                        .addClass('col-md')
                        .append(
                            $('<h5></h5>')
                                .addClass('light-text')
                                .css('text-align', 'center')
                                .css('padding-top', '10px')
                                .append('<span style="background-color: ' + league.color + '; border-radius: 5px;">&nbsp;' + league.name + '&nbsp;</span>')
                        )    
                        .append(
                            $('<table></table>')
                                .attr('league', league.name)
                                .addClass('display')
                                .css('width', '90%')
                        )
                );

            $('table[league="' + league.name + '"]').DataTable({
                data: standings[league.name],
                columns: [
                    {
                        data: 'name',
                        title: 'Name'
                    }, {
                        data: 'W',
                        title: 'W'
                    }, {
                        data: 'L',
                        title: 'L'
                    }, {
                        data: 'T',
                        title: 'T'
                    }, {
                        data: 'winPct',
                        title: 'W%'
                    }
                ],
                columnDefs: [
                    {
                        targets: [1, 2, 3, 4],
                        className: 'dt-center'
                    }
                ],
                paging: false,
                ordering: false,
                info: false,
                searching: false
            });
        });
    });
</script>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <img src="{{ url_for('static', filename='img/FWMSBL1.jpeg') }}" width="100%" style="max-width: 1000px;">
    </div>
</div>

<div class="row">
    <div class="col-md" style="max-width: 400px;">
        <h3 class="light-text" style="padding-bottom: 20px">Announcements</h3>
        <div class="row">
            <div id="announcements" class="col-md-auto">
                <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100057252866855" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/profile.php?id=100057252866855" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/profile.php?id=100057252866855">Fort Worth Mens Senior Baseball League</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <h3 class="light-text">This Week's Events</h3>
        {% for league in leagues %}
            <span class="light-text" style="background-color: {{ league.color }}; border-radius: 5px; font-size: 1.25rem;">&nbsp;{{ league.name }}&nbsp;</span>&nbsp;
        {% endfor %}
        <div id="calendar" style="padding-top: 10px"></div>
    </div>
</div>

<h3 class="light-text" style="padding-bottom: 10px">Standings</h3>
<div id="standings" class="row">
</div>

<div class="row">
    <div class="col">
        <h3 class="light-text" style="padding-bottom: 20px">Forms</h3>
    </div>
</div>
<div class="row justify-content-start" style="padding-bottom: 20px">
    <div class="col" style="max-width: 132px;">
        <button type="submit" class="btn btn-primary" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScrlA5aCcuVoMaUpurES47ttyIftWFTt9R3gQfNfmO_9JgZkg/viewform', '_blank')">Contact Us</button>
    </div>
    <div class="col" style="max-width: 150px;">
        <button type="submit" class="btn light-text" style="background-color: var(--red-color);" onclick="window.open('https://waiver.smartwaiver.com/w/cjdft38eyur6zsh5hngcsx/web/', '_blank')">Player Waiver</button>
    </div>
    <div class="col" style="max-width: 171px;">
        <button type="submit" class="btn btn-light" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSfRuTtd9mr3BrPrDRdQKos92sFW2uqybJKahE8sP7URKvkWJw/viewform', '_blank')">Free Agent Form</button>
    </div>
</div>
{% endblock %}
