{% extends 'base.html' %}

{% block content %}
<script>
    let setIFrameSize = function () {
        $('iframe').height($(window).height() - 90);
    }

    $(document).ready(function () {
        $('div#body-wrapper').css('max-width', $('iframe').width() + 145);
        setIFrameSize();
    });

    $(window).resize(function () {
        setIFrameSize();
    });
</script>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT1669ccRep5ZHZ0tKppBtKm5u2XU3epK0twwFzrGulHznBmFStYZZYCK7RFytWkZLYbrN_aj5S3ICI/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" width="100%"></iframe>
{% endblock %}
