{% extends 'base.html' %}

{% block content %}
<script>
    let setIFrameHeight = function () {
        $('iframe').height($(window).height() - 90);
    }

    $(document).ready(function () {
        $('div#body-wrapper').css('max-width', '1110px');
        setIFrameHeight();
    });

    $(window).resize(function () {
        setIFrameHeight();
    });
</script>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSUc8xaKbx4Y8QyFb5zddG1Ti6pBoxvDjrS0BNQnZt1zhxUhR9AP_W3OI5IqKXneoxJKOE5gwVIC9TV/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" width="100%"></iframe>
{% endblock %}