{% extends 'base.html' %}

{% block content %}
<style>
    input#name {
        width: 300px;
    }

    input {
        margin: 10px 0px;
    }

    label {
        padding-right: 20px;
    }
</style>
<script>
    $(document).ready(function () {
        $('div#nav-placeholder').hide();
        $('div#body-wrapper').css('max-width', '1200px');
        $('body').css('padding-top', '20px');
    });
</script>
<form id="waiver" class="light-text">
    <div class="row justify-content-center">
        <div class="col-md-auto" style="max-width: 300px;">
            <img src="{{ url_for('static', filename='img/FWMSBL5.png') }}" width="100%">
        </div>
    </div>
    <h1 style="padding-top: 20px">WAIVER AND RELEASE OF LIABILITY – READ BEFORE SIGNING</h1>
    <p>In consideration of being allowed to participate in any way for the Men’s Senior Baseball League, Inc / Men’s
        Adult Baseball League, Inc. (MSBL/MABL) its related events and activities, I, <input type="text" id="name"
            class="form-control" style="display: inline;" required>, the undersigned, acknowledge, appreciate, and agree
        that:</p>
    <ol>
        <li>The risk of injury from the activities involved in this program is significant, including the potential for
            permanent paralysis and death, and while particular skills, equipment, and personal discipline may reduce
            this risk, the risk of serious injury does exist; and,</li>
        <li>I KNOWINGLY AND FREELY ASSUME ALL SUCH RISKS, both known and unknown, EVEN IF ARISING FROM THE NEGLIGENCE OF
            THE RELEASEES or others, and assume full responsibility for my participation; and,</li>
        <li>I willingly agree to comply with the stated and customary terms and conditions for participation. If,
            however, I observe any unusual significant hazard during my presence or participation, I will remove myself
            from participation and bring such to the attention of the Company immediately; and,</li>
        <li>I, for myself and on behalf of my heirs, assigns, personal representatives and next of kin, HEREBY RELEASE,
            INDEMNIFY, AND HOLD HARMLESS MSBL/MABL, their officers, officials, agents and/or employees, other
            participants, sponsoring agencies, sponsors, advertisers, and, if applicable, owners and lessors of premises
            used for the activity ("Releasees"), WITH RESPECT TO ANY AND ALL INJURY, DISABILITY, DEATH, or loss or
            damage to person or property associated with my presence or participation, WHETHER ARISING FROM THE
            NEGLIGENCE OF THE RELEASEES OR OTHERWISE, to the fullest extent permitted by law.</li>
    </ol>
    <p>I HAVE READ THIS RELEASE OF LIABILITY AND ASSUMPTION OF RISK AGREEMENT , FULLY UNDERSTAND ITS TERMS, UNDERSTAND
        THAT I HAVE GIVEN UP SUBSTANTIAL RIGHTS BY SIGNING IT, AND SIGN IT FREELY AND VOLUNTARILY WITHOUT ANY
        INDUCEMENT.</p>
    <div class="row">
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" required>
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" required>
        </div>
        <div class="col-12">
            <label for="localLeague" class="form-label">Local MSBL/MABL League Playing In</label>
            <input type="text" class="form-control" id="localLeague" required>
        </div>
        <div class="col-md-6">
            <label for="dob" class="form-label">DOB</label>
            <input type="date" class="form-control" id="dob" required>
        </div>
        <div class="col-md-6">
            <label for="phone" class="form-label">Cellphone #</label>
            <input type="tel" class="form-control" id="phone" required>
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" required>
        </div>
    </div>
    <p>
        I hereby agree and consent to the following parameters as conditions of participation in the Men’s Senior/ Men’s
        Adult Baseball Leagues, Inc:<br>
        I will observe all rules as established by the Men’s Senior/Adult Baseball League, Inc.<br>
        I understand that fighting, physical abuse of players, umpires, or spectators, and the use of abusive or
        offensive language will not be tolerated by the MSBL/MABL and violation of this rule could result in my
        banishment or suspension from the tournament and forfeiture of all fees paid.<br>
        I realize that Men’s Senior Baseball League, Inc. and facilities do NOT possess a defibrillator.<br>
        I realize that there is no guaranteed playing time on any given team, associated with regular season and
        tournament play.<br>
        I certify that I am, or will turn 18 years of age this calendar year and/or 25 years of age and/or 35 years of
        age and/or 45 and/or and/or 50 and/or 55
        and/or 60 years of age and/or 65 years of age.
    </p>
    <div class="row">
        <div class="col-3">
            <span>I certify the following:</span>
        </div>
        <div class="col-9">
            <div class="form-group">
                <label class="form-label">I have never played any level of professional baseball</label>
                <input type="checkbox" class="form-check-input" id="noProfessional">
            </div>
            <div class="form-group">
                <label class="form-label">I have played professional baseball, last year played</label>
                <input type="number" id="professionalLastYear" class="form-control"
                    style="display: inline; width: 100px;">
            </div>
            <div class="form-group">
                <label class="form-label">I have played professional baseball, highest level played</label>
                <input type="text" id="professionalHighestLevel" class="form-control"
                    style="display: inline; width: 200px;">
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <button class="btn btn-primary btn-md mt-2" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}